body{
    
    text-align: center;
    margin: 0px;
    width: 100%;
    
}
.titre h1{
    position: relative;
    top: 40px;
}
.titre{
    position: relative;
    top: 0px;
    height: 180px;
    font-size: 50px;
    background-color: black;
    color: white;
    
}
 .nave{

     background-color: black;
     z-index: 100;
     position: sticky;
     top: 0px;
     
     display: flex;
     justify-content: space-around;
     
 }
 
 .nave a{
     color: rgb(133, 133, 133);
     text-decoration: none;
     font-size: 25px;
    
     transition: all 0.2s linear;
     
 }
 .nave a:hover{ 
     font-size: 35px;
      
     color: rgb(255, 255, 255);
     
     padding: 5px;
 }
 .textD{
    background-image: url("photobalade.JPG");
    background-size: 100% auto ;
    height: 1300px;
}

.text{
    position: relative;
    font-size: 50px;
    top: 20%;
    color: white;
}

